body{
    background:#efefef;
}
.wrap{
    max-width:800px;
    margin:0 auto;
    overflow-x:hidden;
}
.header{
    padding:15px 1px;
    display:flex;
}
.header > * {
    flex:1;
}
.header h1{
}
.nav{
    text-align:right;
    padding-top:40px;
}
.nav a{
    margin-left:15px;
}
.stars{
    overflow:hidden;
    white-space:nowrap;
    width:0;
    text-shadow:0 0 4px #fff;
}

.stars1{width:7px;  color:hsl(252,50%,60%);}
.stars2{width:14px; color:hsl(288,50%,60%);}
.stars3{width:21px; color:hsl(324,50%,55%);}
.stars4{width:28px; color:hsl(0,  50%,55%);}
.stars5{width:35px; color:hsl(36, 50%,50%);}
.stars6{width:42px; color:hsl(72, 50%,50%);}
.stars7{width:49px; color:hsl(108,50%,45%);}
.stars8{width:56px; color:hsl(144,50%,45%);}
.stars9{width:63px; color:hsl(180,50%,40%);}
.stars10{width:70px;color:hsl(216,50%,40%);}

.album_tiles{
    margin:20px -5px 0;
    text-align:center;
    display:flex;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
}
.album_tile{
	flex:1;
	flex-basis:320px;
	flex-grow:1;
	flex-shrink:0;
    border:1px solid #aaa;
    border-radius:4px;
    padding:20px;
    margin:0 5px;
    background:#FFF;
    text-align:left;
    box-sizing:border-box;
}
.album_tile .text{
    padding-left:100px;
    margin-bottom:10px;
}
.album_tile h4{
    margin-top:0;
}
.album_tile p{
    margin-bottom:0;
}
.album_tile .thumb{
    width:90px;
    height:90px;
    float:left;
    background-color:#ccc;
    margin-bottom:20px;
}
.album_tile .winner_btn{
    clear:both;
}