body{
    background:#EFEFEF;
}
.wrap{
    width:800px;
    margin:0 auto;
}
.header{
    padding:15px 1px;
    display:flex;
}
.header > * {
    flex:1;
}
.header h1{
}
.nav{
    text-align:right;
    padding-top:40px;
}
.nav a{
    margin-left:15px;
}
.stars{
    overflow:hidden;
    white-space:nowrap;
    width:0;
    text-shadow:0 0 4px #FFF;
}

.stars1{width:7px;  color:hsl(252,50%,60%);}
.stars2{width:14px; color:hsl(288,50%,60%);}
.stars3{width:21px; color:hsl(324,50%,55%);}
.stars4{width:28px; color:hsl(0,  50%,55%);}
.stars5{width:35px; color:hsl(36, 50%,50%);}
.stars6{width:42px; color:hsl(72, 50%,50%);}
.stars7{width:49px; color:hsl(108,50%,45%);}
.stars8{width:56px; color:hsl(144,50%,45%);}
.stars9{width:63px; color:hsl(180,50%,40%);}
.stars10{width:70px;color:hsl(216,50%,40%);}

.album_tiles{
    margin-top:20px;
    text-align:center;
}
.album_tile{
    float:left;
    border:1px solid #AAA;
    border-radius:4px;
    padding:20px;
    margin-left:10px;
    background:#FFF;
    width:395px;
    text-align:left;
    box-sizing:border-box;
}
.album_tile:first-child{
    margin-left:0;
}
.album_tile .text{
    padding-left:100px;
    margin-bottom:10px;
}
.album_tile h4{
    margin-top:0;
}
.album_tile p{
    margin-bottom:0;
}
.album_tile .thumb{
    width:90px;
    height:90px;
    float:left;
    background-color:#CCC;
    margin-bottom:20px;
}
.album_tile .winner_btn{
    clear:both;
}
