<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elody | {% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/ranker/ranker.css">
    <script src="/static/ranker/jquery-2.1.3.min.js"></script>
    <script src="/static/ranker/ranker.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/ranker/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/ranker/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/ranker/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/ranker/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/ranker/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/ranker/favicons/apple-touch-icon-120x120.png">
    <link rel="icon" type="image/png" href="/static/ranker/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/ranker/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/ranker/favicons/favicon-16x16.png" sizes="16x16">
</head>
<body>
    <div class='wrap'>
        <div class='header'>
            <h1><a href="/">Elody</a></h1>
            <div class="nav">
                <a href="/match/smart">Match</a>
                <a href="/consistency">Consistency</a>
            </div>
        </div>
        <div class="main">
            {% block content %}
                <table class="table">
                    <tr><th></th><th>Album</th><th>Artist</th><th>Score</th><th>Star Rating</th></tr>
                    {% for album in albums %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ album.title }}</td>
                            <td>{{ album.artist.name }}</td>
                            <td>{{ album.current_rating }}</td>
                            <td>
                                <div class="stars stars{{ album.star_rating }}">
                                    <span class="glyphicon glyphicon-star"
                                    ></span><span class="glyphicon glyphicon-star"
                                    ></span><span class="glyphicon glyphicon-star"
                                    ></span><span class="glyphicon glyphicon-star"
                                    ></span><span class="glyphicon glyphicon-star"></span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endblock %}
        </div>
    </div>
</body>
</html>