{% extends "ranker/index.html" %}

{% block content %}

    <div class="album_tiles">
        {% for album in albums %}

            <form class="album_tile" method="post">
                {% csrf_token %}
                <img class="thumb" src="{{ album.artwork }}" />
                <div class="text">
                    <h4>{{ album.title }}</h4>
                    <p>{{ album.artist.name }}</p>
                </div>

                <input type="hidden" name="winner" id="winner" value="{{ album.id }}" />
                {% if forloop.last %}
                    <input type="hidden" name="loser" id="loser" value="{{ albums.0.id }}" />
                {%  else %}
                    <input type="hidden" name="loser" id="loser" value="{{ albums.1.id }}" />
                {% endif %}
                <input type="submit" data-winner="{{ album.id }}" name="submit" value="Winner" class="btn btn-default winner_btn btn-block" />
            </form>

        {% endfor %}

        <div style="clear:both"></div>
    </div>

{% endblock %}